$gray_22: #222222;
$gray_33: #333333;
$gray_55: #555555;
$gray_77: #777777;
$gray_99: #999999;
$gray_C0: #c0c0c0;
$gray_E7: #e7e7e7;
$gray_F1: #f1f1f1;
$gray_F7: #f7f7f7;

$layout-line-color: $gray_99;

$teal: #0A9FA8;
$teal-dark: #0e3e42;
$bg-app: #F0F3F4;
