{
  "extends": ["eslint:recommended"],
  "plugins": ["html"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "jquery": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": "off"
  },
  "globals": {
    "gsap": "readonly",
    "ScrollTrigger": "readonly",
    "ScrollSmoother": "readonly",
    "SplitText": "readonly",
    "Observer": "readonly",
    "Swiper": "readonly",
    "AOS": "readonly"
  }
}
