[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  flex-shrink: 0;
}

$icons-24px: mail, phone;
@each $icon in $icons-24px {
  .icon-#{$icon} {
    background-image: url("../images/icon-#{$icon}.svg");
    width: 24px;
    height: 24px;
  }
}

$icons-18px: check-gray, check-white;
@each $icon in $icons-18px {
  .icon-#{$icon} {
    background-image: url("../images/icon-#{$icon}.svg");
    width: 18px;
    height: 18px;
  }
}
