.badge{
  --bs-badge-font-size: .8125rem;
  --bs-badge-padding-x: .75rem;
  --bs-badge-padding-y: .5rem;
  --bs-badge-border-radius: 100px;
  background-color: #3f3f3f;
  border-radius: var(--bs-badge-border-radius);
}