<footer id="footer">
  <div class="container">
    <div class="footer-left">
      <div class="logo">
        <img src="@@webRoot/assets/images/footer-logo.svg" alt="">
      </div>
      <div class="text-wrap">
        <p>서울특별시 금천구 서부샛길 606, B동 6층 606호 (가산동, 대성디폴리스지식산업센터)</p>
        <ul class="info">
          <li>
            <i class="icon-mail"></i>
            <span>contact@call2b.com</span>
          </li>
          <li>
            <i class="icon-phone"></i>
            <span>0508-0390-0000</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="copy">
      <p>ⓒ 2026 deLimit. All rights reserved.</p>
    </div>
  </div>
</footer>