<nav class="layout-nav" id="layoutNav">
  <a class="layout-nav-item active" href="@@webRoot/html/pages/home/home.html">
    <i class="nav-home"></i>
    <span>홈</span>
  </a>
  <a class="layout-nav-item" href="#">
    <i class="nav-call"></i>
    <span>콜페이지</span>
  </a>
  <a class="layout-nav-item" href="#">
    <i class="nav-advice"></i>
    <span>상담</span>
  </a>
  <a class="layout-nav-item" href="#">
    <i class="nav-analysis"></i>
    <span>분석</span>
  </a>
  <a class="layout-nav-item" href="#">
    <i class="nav-management"></i>
    <span>관리</span>
  </a>
</nav>